html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-bg {
  background-image: url("../public/background_yellow.png");
}

.outlined-rocknroll {
  font-family: "RocknRoll One", "sans-serif";
  color: #fffff8;
  text-stroke: 1px #570000;
  -webkit-text-stroke: 0.1rem #570000;
  font-weight: 900;
}
